@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: titleComicSpiderman;
  src: url(./assets/fonts/The\ Amazing\ Spider-Man.ttf);
}

@font-face {
  font-family: titleComic;
  src: url(./assets/fonts/BADABB__.TTF);
}

@font-face {
  font-family: titleTurtle;
  src: url(./assets/fonts/CHLORINR.TTF);
}
